<!DOCTYPE html>
<html lang="en-US">
  {% include "./head" %}

  <body>
    {% include "./ie9" %}
    <header>{% include "./header" %}</header>
    <main>
      {{ content }}
    </main>
    <footer>
      {% include "./footer" %}
    </footer>
    <script src="/scripts/app.js" defer></script>
  </body>
</html>
