<h1>Nostories<span class="micro"> just </span>Recipes</h1>
<div class="rp">
  <a href="https://reasonablepeople.io/"
    ><img src="/images/rp-blk.png" alt="Reasonable People"
  /></a>
  <p>© 2020</p>
</div>
<nav class="footer-menu">
  {% include menu %}
</nav>
