<!--
<h1>Nostories<span class="micro"> just </span>Recipes</h1>
-->
<div class="rp">
  <a href="https://reasonablepeople.io/"
    ><img src="/images/rp.svg" alt="Reasonable People"
  /></a>
  <p>© 2021</p>
</div>
<nav class="footer-menu">
  {% include "./menu" %}
</nav>
