<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>{{site.name}}: {{ title }}</title>
  <meta name="description" content="{{ description }}" />
  <link rel="manifest" href="/site.webmanifest">
  <link rel="stylesheet" href="/styles/styles.css" />
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto+Condensed|Source+Code+Pro"
    rel="stylesheet"
  />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicons/favicon-16x16.png">
  {% include analytics %}
</head>
