<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>nostories just recipes: {{ title }}</title>
  <meta name="description" content="{{ description }}" />

  <!-- favicon details -->
  <style>
    html {
      display: none;
    }
  </style>
  <link rel="stylesheet" href="/styles/styles.css" />
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto+Condensed|Source+Code+Pro"
    rel="stylesheet"
  />
  {% include analytics %}
</head>
