<ul>
  <li><a href="/index.html">home</a></li>
  <li><a href="/recipes/index.html">recipes</a></li>
  <li><a href="/concepts/index.html">concepts</a></li>
  <li><a href="/about/index.html">About</a></li>
</ul>
