<ul>
  <li><a href="/index.html">home</a></li>
  <li><a href="/recipes/index.html">recipes</a></li>
  <li><a href="/concepts/index.html">concepts</a></li>
  <li><a href="/experiments/index.html">experiments</a></li>
  <li><a href="/about/index.html">about</a></li>
  <li><a href="/search/index.html">search</a></li>
</ul>
