<!DOCTYPE html>
<html lang="en-US">
  {% include head %}
  <body>
    {% include ie9 %}
    <header>{% include header %}</header>
    <main>
      <h1>{{ title }}</h1>
      <span class="sub-heading"
        >Last edited: {{ page.date | date: '%a, %b %d, %Y' }}</span>
      {{ content }}
    </main>
    <footer>
      {% include footer %}
    </footer>
    <script src="/scripts/app.js" defer></script>
  </body>
</html>
