.card {
  color: $base-color;
  text-decoration: none;
}

article {
  display: flex;
  flex-direction: column;
  align-items: start;
  border-color: $base-color;
  border-top: 3px solid;
  border-left: 3px solid;
  border-right: 3px solid;
  margin: 0 1em 1em 1em;
  padding: 1em 2em;
  & span {
    font-family: $font-sub-heading;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.1rem;
    margin: 0;
  }
  & h1 {
    font-size: 1.5em;
    padding: 0.1rem;
    margin: 0;
  }
  & p {
    padding: 0.1rem;
    margin: 0;
    text-align: left;
  }
}
@media screen and(min-width: $breakpoint-tablet) {
  .center {
    margin: 2em 3em 1em 3em;
    padding: 1em 2em;
    & span {
      font-size: 2em;
    }
  }
  article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    margin: 0 8em 1em 8em;
    padding: 0em 2em;
    & span {
      //font-size: 1em;
      padding: 0.5rem;
      margin: 0;
    }
    & h1 {
      font-size: 1.2em;
      padding: 0.5rem;
      margin: 0;
    }
    & p {
      padding: 1rem;
      margin: 0;
      text-align: right;
    }
    &.home {
      grid-template-columns: 120px auto auto;
    }
  }
}
@media screen and(min-width: $breakpoint-desktop) {
  .center {
    margin: 2em 3em 1em 3em;
    padding: 1em 2em;
    & span {
      font-size: 2em;
    }
  }
  article {
    display: grid;
    //grid-template-columns: 300px auto;
    align-items: start;
    margin: 0 8em 1em 8em;
    padding: 1em 2em;
    & span {
      font-size: 1.5em;
      padding: 1rem;
      margin: 0;
    }
    & h1 {
      font-size: 1.5em;
      padding: 1rem;
      margin: 0;
    }
    & p {
      padding: 1rem;
      margin: 0;
      text-align: right;
    }
    &.home {
      grid-template-columns: 310px auto auto;
    }
  }
}
