.sub-heading {
  font-family: $font-sub-heading;
  margin-bottom: 0.5em;
  padding-left: 1rem;
  text-transform: uppercase;
}

.attrib {
  & span {
    display: block;
    font-size: 0.8em;
  }
}

.pushpin {
  padding: 0;
}
li img {
  float: right;
  padding-top: 0.7em;
  width: 150px;
}

@media screen and(min-width: $breakpoint-tablet) {
  li img {
    width: 400px;
  }
}
