@import 'defaults/normalize';
@import 'defaults/border-box';
@import 'theme';

/* BEGIN DEFAULTS */
html {
  min-height: 100%;
}

body {
  background-color: $bg-color;
  color: $base-color;
  display: grid;
  font-size: $base-font-size;
  grid-template-rows: 150px auto auto;
  font-family: $font-body;
  justify-items: center;
  min-height: 100vh;
}

a {
  color: $base-color;
  text-decoration: none;
  transition-duration: 0.2s;
  &:hover {
    color: lighten($base-color, 30%);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  //margin-top: 0;
  font-family: $font-display;
  text-transform: uppercase;
}

h3 {
  margin-bottom: 0.5em;
}

main dd ul {
  margin-top: 0.5em;
}

dt {
  font-weight: bold;
  text-transform: uppercase;
}

dd,
p {
  line-height: 1.5em;
}
.sub-heading {
  font-family: $font-sub-heading;
  margin-bottom: 0.5em;
  padding-left: 1rem;
  text-transform: uppercase;
}

/*Base components*/
/*Header*/

header {
  background-color: darken($bg-color, 5%);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  & .site-name {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }
  & .micro {
    font-size: 0.3em;
  }
}

nav {
  & ul {
    display: flex;
    flex-flow: row;
    align-items: flex-end;
    justify-content: space-between;
    font-family: $font-display;
    font-size: 1.3em;
    font-weight: bold;
    text-transform: uppercase;
    list-style: none;
    margin: 1em;
    padding: 0;
    & li {
      margin-bottom: 0.3em;
    }
  }
}

/*End header*/

/*Main*/
main {
  //background-color: $bg-color;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  //justify-content: center;
  max-width: 900px;
  padding: 1em;
  & ul {
    margin-top: 0;
    & li {
      margin-bottom: 0.75em;
    }
  }
  & ol {
    & li {
      margin-bottom: 0.75em;
      line-height: 1.75em;
    }
  }
}

.center {
  border-color: $base-color;
  border-top: 4px solid;
  margin: 0 1em 1em 1em;
  padding: 1em 2em;
  text-align: center;
  & span {
    font-family: $font-display;
    font-size: 1.5em;
  }
}

/*End main*/

/*Footer*/
footer {
  align-items: center;
  background-color: darken($bg-color, 5%);
  width: 100%;

  & .micro {
    font-size: 0.3em;
  }
  & .rp {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: space-between;
    & p {
      margin: 2px;
    }
    & img {
      height: 100px;
      width: 100px;
    }
  }
}
@media screen and (max-width: $breakpoint-tablet - 1) {
  nav {
    li:first-child::after,
    li:nth-child(2)::after {
      content: '|';
    }
  }
}
@media screen and (min-width: $breakpoint-tablet) {
  body {
    grid-template-rows: 150px auto 150px;
  }
  header {
    flex-direction: row;
    & .site-name {
      font-size: 3em;
      margin-left: 1em;
      text-align: left;
    }
  }
  nav {
    & ul {
      flex-flow: column;
    }
  }
  footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: $breakpoint-desktop) {
  main {
    max-width: 1275px;
  }
}

/*End footer*/
/*End base components*/
/* END DEFAULTS */
@import 'index';
@import 'posts';
