@import 'defaults/normalize';
@import 'defaults/border-box';
@import 'variables';

@import 'header';
@import 'main';
@import 'footer';

/* BEGIN DEFAULTS */
html {
  min-height: 100%;
}

body {
  background-color: $bg-color;
  color: $base-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: $font-base-size;
  font-family: $font-body;
  justify-items: center;
  min-height: 100vh;
}

a {
  color: $base-color;
  text-decoration: none;
  transition-property: color;
  transition-duration: 0.2s;
  &:hover {
    color: lighten($base-color, 30%);
  }
  &.current-page:not(.footnote-backref) {
    position: relative;
    z-index: 1;
    &::before {
      content: '';
      bottom: 0;
      display: block;
      left: -2px;
      padding: 0 5px 0 5px;
      position: absolute;
      height: 50%;
      width: 100%;
      background-color: lighten($base-color, 65%);
      z-index: -1;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-display;
  text-transform: uppercase;
}

h3 {
  margin-bottom: 0.5em;
}

.tiny-heading{
  font-size: 1.2em;
}

p {
  & img {
    max-width: 100%;
  }
}

button {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(
    to bottom,
    #ffffff 5%,
    lighten($bg-darker, 8%) 100%
  );
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: $base-color;
  font-size: 1.3em;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}
button:hover {
  background: linear-gradient(
    to bottom,
    lighten($bg-darker, 5%) 5%,
    lighten($bg-darker, 7%) 100%
  );
  background-color: #f6f6f6;
}
button:active {
  position: relative;
  top: 1px;
}

.button-link{
  background: linear-gradient(to bottom, #ffffff 5%, #fdfcfc 100%);
  background-color: #ffffff;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  color: #36221f;
  cursor: pointer;
  display: inline-block;
  font-size: 1.3em;
  font-weight: bold;
  margin: auto;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  text-transform: uppercase;
  &:hover{
    background: linear-gradient(to bottom, #f7f3f3 5%, #fbf9f9 100%);
    background-color: #f6f6f6;
  }
  &:active{
    position: relative;
    top: 1px;
  }
}

table {
  border-collapse: collapse;
  width: 100%;
}

tr:nth-child(even) {
  background-color: $bg-darker;
}

td {
  border: 1px solid $base-color;
}

details {
  border-top: 3px solid;
  border-left: 3px solid #36221f;
  border-right: 3px solid #36221f;
  margin: 0 0 1em 0;
  &[open] summary{
    background-color: $bg-darker;
  }
}

summary{
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.2em;
  padding: .5em 1em;
  &:focus{
    outline: none;
    background-color: $bg-darker;
  }
  & + div {
    padding-left: 1em;
    padding-right: 1em;
  }
}

.footnotes {
  font-size: 0.9em;
  border-top: 2px solid $bg-darker;
  &::before {
    content: 'footnotes:';
  }
  & a {
    color: lighten($base-color, 10%);
    text-decoration: underline;
    &:hover {
      color: lighten($base-color, 50%);
    }
    &:active {
      color: lighten($base-color, 50%);
    }
    &.footnote-backref {
      text-decoration: none;
    }
  }
}
@import 'article-list';
@import 'posts';
@import 'glossary';
@import 'about';
@import 'experiments';

html {
  display: block;
}
