/*  BEGIN THEME  */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto+Condensed|Source+Code+Pro&display=swap');

$font-display: 'Open Sans', san-serif;
$font-sub-heading: 'Source Code Pro', monospace;
$font-body: 'Open Sans', san-serif;

$base-font-size: 18px;
$base-color: #2c2b4d;
//$base-color: #2b298d;
$bg-color: rgb(243, 242, 234);

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1440px;

/*  END THEME  */
