/*  BEGIN Variables  */

$base-color: rgb(54, 34, 31);
$bg-color: rgb(255, 255, 255);
$bg-darker: rgb(236, 229, 228);

$font-display: 'Open Sans', san-serif;
$font-sub-heading: 'Source Code Pro', monospace;
$font-body: 'Open Sans', san-serif;

$font-base-size: 18px;

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1440px;

@mixin card-border {
  border-color: $base-color;
  border-top: 3px solid;
  border-left: 3px solid;
  border-right: 3px solid;
}

/*  END Variables  */
