---
layout: default
title: concepts
description: A reference containing concepts and techniques to aid in cooking.
pagination:
  data: collections.conceptsPlusPin
  size: 15
  reverse: true
---

<div class="center">
  <span>Recent concepts</span>
</div>
{% for concept in collections.conceptsPlusPin %} {% if concept.url != false %}
<a href="{{ concept.url}}" class="card">
  <article>
    <h1>
      {% if concept.data.tags contains "pinned" %}
      <span class="pushpin">📌</span>
      {% endif %} {{ concept.data.title }}
    </h1>
    <span>{{ concept.date | date: '%a, %b %d, %Y' }}</span>
  </article>
</a>
{% endif %} {% endfor %}

{% include pagination %}