---
layout: default
title: concepts
description: concept directory on NOSTORIES
pagination:
  data: collections.concepts
  size: 15
  reverse: true
  alias: concepts
---

<div class="center">
  <span>Recent concepts</span>
</div>
{% for concept in concepts %} {% if concept.url != false %}
<a href="{{ concept.url}}" class="card">
  <article>
    <span>{{ concept.date | date: '%a, %b %d, %Y' }}</span>
    <h1>{{ concept.data.title }}</h1>
    <p>{{ concept.data.description }}</p>
  </article>
</a>
{% endif %} {% endfor %}
