---
layout: default
title: Home
description: Recipes up front and ready to use. No stories to plow through to get to the meat and mashed potatoes.
pagination:
  data: collections.posts
  size: 10
  reverse: true
  alias: posts
---

<div class="center">
  <span>Recent entries</span>
</div>
{% for post in posts %} {% if post.url != false %}
<a href="{{ post.url}}" class="card">
  <article class="home">
    <span>{{ post.date | date: '%a, %b %d, %Y' }}</span>
    <h1>{{ post.data.title }}</h1>
    <p>{{ post.data.description }}</p>
  </article>
</a>
{% endif %} {% endfor %}
