---
layout: default
title: recipes
description: A list of recipes found on this site.
pagination:
  data: collections.publishedRecipes
  size: 10
  reverse: true
  alias: recipes
is_search_hidden: true
---

<div class="center">
  <span>Recent recipes</span>
</div>
{% for recipe in collections.publishedRecipes %}
<a href="{{ recipe.url}}" class="card">
  <article>
    <h1>{{ recipe.data.title }}</h1>
    <span>{{ recipe.date | date: '%a, %b %d, %Y' }} {{recipe.data.publish}}</span>

    <!-- <p>{{ recipe.data.description }}</p> -->
  </article>
</a>
{% endfor %}

{% include pagination %}
